@import url(https://fonts.googleapis.com/css?family=Open+Sans);

pre {
    background-color: rgba(0,0,0,.5);
    /*border: 1px solid silver;*/
    padding: 10px 20px;
    margin: 7% 23%;
    max-height: 45em;
    overflow: scroll;
    position: absolute;
    
    /*klS*/
    color: #fff;

}

#endpoint {
    padding: 10px 20px;
    margin: 5% 13%;
    text-align: center;
    /*width: 60%;*/
    background-color: #efefef;
}

.json-key {
    color: brown;
}

.json-value {
    color: navy;
}

.json-string {
    color: olive;
}


body {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #7575a3;
    font-size: 1.5em;
}

.searchTerm:focus {
    color: #00B4CC;
}

.searchButton {
    width: 65px;
    height: 56px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
#wrap {
    width: 30%;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}