<!doctype html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    {#    <link rel="stylesheet" type="text/css" href="{% static 'base_style.css' %}">#}
    {% block head %}
    {% endblock %}
    <title>{% block title %}{% endblock %}  </title>

</head>
<body onload="custom_head()">
<header id="myheader">
    <h1>Buscador de Datos Enlazados</h1>
</header>
{% block main %}

{% endblock %}
<div id="authors_content">
    <h4>Desarrolladores</h4>
    <ul>
        <li>
            <figure>
                <img src="{% static 'img/user.png' %}" alt="Icon user">
            </figure>
            <p>André Herrera</p>
        </li>
        <li>
            <figure>
                <img src="{% static 'img/user.png' %}" alt="Icon user">
            </figure>
            <p>Diego Castillo</p>
        </li>
        <li>
            <figure>
                <img src="{% static 'img/user.png' %}" alt="Icon user">
            </figure>
            <p>Klever Sarango</p>
        </li>
    </ul>
</div>
<footer>
    <h6>Knowledge-Based Systems Research Group</h6>
</footer>

<script>
    function custom_head() {
        // body...
        var pathname = window.location.pathname;
        if (pathname != '/knowledge') {
            var element = document.getElementById("myheader");
            element.classList.add("header_aux");
        }
    }
</script>

</body>
</html>

