{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/knowledge_style.css' %}">
{% endblock %}
{% block title %}Knowledge{% endblock %}
{% block main %}
    <div id="content_title">
        <h1>Buscador de Datos Enlazados</h1>
    </div>

    <div class="wrap">
        <div class="search">
            <input type="text" class="searchTerm" placeholder="Que deseas conocer?">
            <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
    <div id="particles-js">
    </div>
    <script type="text/javascript">
        $(".searchButton").click(function () {
            var URL = "{{ url }}";
            var word = $(".searchTerm").val();
            window.location.replace(URL + "/answer/" + word);

        });
    </script>
    <!-- Particles scrips-->
    <script src="{% static 'js/particles/particles.js' %}"></script>
    <script src="{% static 'js/particles/app.js' %}"></script>
    <script src="{% static 'js/particles/stats.js' %}"></script>
    <!-- Particles Implemntatios-->
    <script>
        var count_particles, stats, update;
        stats = new Stats;
        stats.setMode(0);
        stats.domElement.style.position = 'absolute';
        stats.domElement.style.left = '0px';
        stats.domElement.style.top = '0px';
        document.body.appendChild(stats.domElement);
        count_particles = document.querySelector('.js-count-particles');
        update = function () {
            stats.begin();
            stats.end();
            if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
                count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
            }
            requestAnimationFrame(update);
        };
        requestAnimationFrame(update);
    </script>

{% endblock %}